.cnnt{
  width: 80%;
  margin: auto;
}
.cnnt .map{
  text-align: center;
  margin: 30px 0;
}
.wh h1{ 
  padding: 20px;
  padding-left: 10%;
  margin-top:0;
  background-color: #eae6e8;
  font-family: prata;
}
@media (max-width:778px)
{
.cnnt .map{
text-align: right;
}
.cnnt{
  
  margin-left: 0;
}
}