.no-arrows:hover::-webkit-outer-spin-button,
.no-arrows:hover::-webkit-inner-spin-button,
.no-arrows:focus::-webkit-outer-spin-button,
.no-arrows:focus::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.no-arrows::-webkit-outer-spin-button,
.no-arrows::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.swiper {
  height: 85vh;
  /* transform: scale(0.8); */
}
.main-content {
  margin: 30px;
  padding: 15px;
  text-align: center;
}
.main-content .ad {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}
.main-content h4 {
  text-align: left;
  width: fit-content;
  padding: 5px;
  font-size: 18px;
  font-weight: bold;
  border-bottom: 1px solid var(--second-color);
}

label {
  text-align: left;
  display: block;
  padding: 10px;
  font-size: 20px;
}
input {
  display: block;
  text-align: left;
  padding-left: 10px;
  border: none;
  border-bottom: 2px solid black;
  font-size: 18px;
  margin-top: 10px;
}
.main-content h1 {
  width: fit-content;
  font-size: 30px;
  font-weight: bold;
}
.main-content table{
  text-align: left;
}
.main-content .one {
  background-color: var(--second-color);
  width: fit-content;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 13px;
  height: 30px;
  padding: 6px 14.5px;
  color: white;
  border: none;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  /* outline: none; */
  transition: all .4s ease;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -ms-transition: all .4s ease;
  width: fit-content;
  margin: auto;
  margin-bottom: 20px;
}
.main-content .one:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}
.main-content button.selected {
  background-color: var(--second-color);
  color: white;
  border: none;
}
.df {
  height: 1px;
  background-color: black;
  width: 100%;
  margin-top: 25px;
}
.reserv {
  margin: 5px;
}
table {
  width: 100%;
}
table input {
  width: 30px;
}
tr {
  border-bottom: 1px solid #ccc;
}
td {
  padding: 10px;
}
