.box {
    width: 300px;
    height: 200px;
    padding: 15px;
    background-color: white;
    box-shadow: 0px 12px 20px 0px rgb(0 0 0 / 13%), 0px 2px 4px 0px rgb(0 0 0 / 12%);
}
.box .image {
    position: relative;
    overflow: hidden;
}
.box .image::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(236, 7, 7, 0.2);
    width: 0;
    height: 0;
    opacity: 1;
    z-index: 2;
}
.box .image:hover::before {
    animation: flashing 0.7s;
    -webkit-animation: flashing 0.7s;
}
.box img {
    max-width: 100%;
    transition: var(--main-transition);
}
.box .image:hover img {
    transform: rotate(5deg) scale(1.1);
}
@keyframes flashing {
    0%,
    40% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      width: 200%;
      height: 200%;
    }
  }