.pr1 {
  background-color: var(--main-color);
  width: 100%;
}
.cnt {
  width: 80%;
  padding: 0 20px 0 15px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.ch1 {
  display: flex;
}
.ch1 .logo1 {
  display: flex;
  flex-direction: column;
}
.ch1 .logo1 p {
  margin: 0;
  font-size: 30px;
  text-transform: capitalize;
  color: white;
  padding-bottom: 12px;
  text-align: center;
}
.ch1 .logo1 .logo {
  height: 30;
}
.ch1 {
  display: flex;
  align-items: center;
}
.ch1 p {
  font-size: 25px;
  color: var(--second-color);
}

.toggel {
  width: 20px;
}
.toggel span {
  background-color: white;
  margin-bottom: 5px;
  height: 2px;
}
.toggel {
  display: none;
  color: white;
}
ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
ul li {
  position: relative;
  padding: 20px;
  margin-right: 10px;
}
.drop-down {
  position: absolute;
  display: block;
  width: 250px;
  right: 33px;
  background: rgba(6, 5, 5, 0.606);
  z-index: 2;
  top: 66px;
  padding: 0;
  display: none;
}
.drop-down li {
  margin: 0;
}
.drop-down li a {
  color: rgb(249, 247, 247);
}
.drop-down li:hover {
  background-color: rgba(255, 255, 255, 0.305);
}
.drop-down::before {
  content: '';
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent rgba(255, 255, 255, 0.305) transparent;
  position: absolute;
  right: 5px;
  top: -20px;
}
li:hover {
  cursor: pointer;
}
.hi {
  border: none;
}
.me:hover .drop-down {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 778px) {
  .ch1 p {
    font-size: 10px;
  }
  .ch2 ul {
    display: none;
  }
  .ch1 .logo1 .blew {
    font-size: 10px;
  }
  .toggel {
    display: block;
  }
  .toggel:hover {
    color: var(--second-color);
  }
  .ch1 .logo1 img {
    height: 23px;
    margin-top: 5px;
  }
}
a {
  text-decoration: none;
  padding: 14px;
}
a:visited {
  color: white;
}
.mg{
  position: relative;
}
.drop{
  z-index: 99;
  position: absolute;
  width: 40%;
  background-color: white;
  right: 15px;
  margin-top: 15px;
}
.nav {
  width: 100%;
  display: flex;
  align-items: center;
}
.nav > .nav-header {
  flex: 0.95;
  padding-left: 1rem;
}
.nav > .nav-header > .nav-title {
  font-size: 22px;
  color: #fff;
}
.nav > .nav-list {
  display: flex;
  gap: 2rem;
}
.nav > .nav-list > li {
  list-style-type: none;
}
.nav > .nav-list > li a {
  text-decoration: none;
  color: #efefef;
  cursor: pointer;
}
.nav > #nav-check {
    display: none;
}
@media (max-width: 778px) {
  .nav {
    padding: 1rem;
  }
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 35px;
    top: 72px;
    padding-top: 0.2rem;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 20px;
    height: 20px;
    padding: 13px;
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 7px;
    border-top: 2px solid #eee;
  
  }
  .nav > .nav-list {
    position: absolute;
    display: none;
    flex-direction: column;
    /* gap: 1rem; */
    width: 40%;
    background-color: #403e3feb;
    height: 0;
    transition: all 0.3s ease-in;
    top: 108px;
    right: 10px;
    /* overflow: hidden; */
    z-index: 50000;
    padding:0;
    justify-content: flex-start;
  }
  .nav > .nav-list > li {
    width: 50%;
   
    position: relative;
    /* padding: 20px; */
  margin-right: 0;
    text-align: center;
  }
  .nav > #nav-check:checked ~ .nav-list {
    height: 100%;
    display: flex;
    
  }
}