.main{
width: 100%;
height: 130vh;
position: relative;
}
.main video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.main .vtext{
    position: absolute;
    top: 30%;
    left: 6%;
    width: 80%;
    padding: 50px;
    background-color: #d99578b7;
    text-align: center;
}
.vtext h2{
    font-family: 'partata';
    font-size: 30px;
}
.vtext p{
    font-size: 20px;
    color:#272626 ;
    font-weight: bold;
}
.vtext button{
    padding: 10px 15px;
    border: none;
    color: black;
    background-color: white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    text-transform: uppercase;
}
.vtext button:hover{
    background-color: var(--main-color);
    color: white;
}
@media (max-width:768px)
{
    .main .vtext{
        width: 60%;
        object-fit: cover;
    }
}